# CODEOWNERS for go-ozzo/ozzo-validation
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owner for everything
* @kolkov
